<% content_for(:subtitle) do %>Order A Redesign<% end %>
<!-- begin order form area for responsive design work -->
<div class="header-padding-center">
	<h3><span class="orange">Order a Mobile Responsive Website Design Now</span></h3>
	<!-- <p class="text-center">(Pay later.)</p> -->
</div>

<section id="order-from-section">

	<%= form_for @order do |order| %>
	<p class="text-far-right"><%= link_to 'FAQ', faq_path %></p>

	  	<div class="form-group">
			<%= order.label :your_name %>&nbsp;&nbsp;
			<%= order.text_field :contact_name, required: true, class: "text-input" %>	
		</div><!-- end .form-group -->

	  	<div class="form-group">
			<%= order.label :Your_company_name %>&nbsp;&nbsp;
			<%= order.text_field :contact_company_name, class: "text-input" %>
		</div><!-- end .form-group -->

	  	<div class="form-group">
			<%= order.label :Your_email %>&nbsp;&nbsp;
			<%= order.text_field :contact_email, class: "text-input" %>
		</div><!-- end .form-group -->

		 <div class="form-group">
			<%= order.label :Your_preferred_phone_number %>&nbsp;&nbsp;
			<%= order.text_field :contact_phone_number, class: "text-input" %>
		</div><!-- end .form-group -->

		<div>
			<span class="no-wrap">
				<%= order.label :Do_you_prefer_texting_vs_phone_calls? %>
				Yes&nbsp;
				<%= order.check_box :text_preferred, class: "form-checkbox" %>
			</span><!-- end .no-wrap -->
		</div><!-- end .form-group -->
		<br>
		<div class="form-group">
			<%= order.label :What_type_of_design_work_would_you_like_to_order? %>&nbsp;&nbsp;
			<%= order.select :project_type, Order::ORDER_TYPES, {style: "min-width: 100px;"}, prompt: "Choose a project type", class: "form-select" %>
		</div><!-- end .form-group -->

		<div class="form-group">
			<%= order.label :What_shall_we_call_this_project? %>&nbsp;&nbsp;
			<%= order.text_field :project_name, class: "text-input" %>
		</div><!-- end .form-group -->

		<div class="form-group">
			<%= order.label :What_is_your_timeline? %>&nbsp;&nbsp;
			<%= order.text_field :project_timeline, class: "text-input" %>
		</div><!-- end .form-group -->

		<div class="form-group">	
			<%= order.label :Anything_else_we_should_know? %>&nbsp;&nbsp;
			<%= order.text_area :additional_comments, class: "text-input" %>
		</div><!-- end .form-group -->

<!-- 		<div class="no-border">	
			<span class="no-wrap no-border">
				<span class="no-border">
					<%= order.label :I__prefer_to_do_this_entire_project_without_phone_calls %>
				</span>
				&nbsp;&nbsp;
				<%= order.check_box :preference_no_call, class: "form-checkbox" %>
			
			</span>	
		</div> -->


		<div class="hidden">
			<!-- todo recaptcha here -->
		</div>
		<br>

		<div class="submit-button-div no-border" >
			<%= order.submit "Order The Work", class: "btn btn-success btn-lg submit-button" %>
		</div>

	<% end %>
		<br>
		<p class="text-center">Or, you can instead<button class="un-button orange" data-toggle="modal" data-target="#contactUsModal">contact us for a traditional phone call.</button></p>

</section><!-- end #order-form-section -->



