<!-- provide custom subtitle for each page -->
<% content_for(:subtitle) do %>FAQ<% end %>

<div class="container">
	<h1 class="orange">Frequently Asked Questions</h1>

	<div class="button-div text-right">
		<%= link_to "Order A Design", new_order_path, class: "btn btn-default" %>
	</div>

	<section id="faq-section">
		<div class="question">
			
			When do I pay for a new project?&nbsp;&nbsp;<%= render 'layouts/drop_arrows' %>
		</div>
		<div class="answer">
			<p>After you submit your order, we consult internally with our design and development team about your project requirements. After this internal check, we will send an invoice to you via email for a down payment of 15% 0f the full project price.</p>
			<p>Then, let the work begin.</p>
		</div>

		<!-- <div class="question">
			What is the working process typically like, from the client's perspective?&nbsp;&nbsp;<%= render 'layouts/drop_arrows' %>
		</div>
		<div class="answer">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>	 -->

		<div class="question">
			How long does it really take to redesign a site?&nbsp;&nbsp;<%= render 'layouts/drop_arrows' %>
		</div>
		<div class="answer">
			<p>We have a firm 5-day turnaround time the from agreed-upon start date on most of our simple projects work - granted that there are minimal revisions, and that we have all required materials and payment in-house to kick off your project on time.</p>
		</div>

		<div class="question">
			What if I don't like the work?&nbsp;&nbsp;<%= render 'layouts/drop_arrows' %>
		</div>
		<div class="answer">
			<p>Every project includes at least one revision.</p>
		</div><!-- .answer -->

		<div class="question">
			What if I only need a few things fixed, not a whole project redesign?&nbsp;&nbsp;<%= render 'layouts/drop_arrows' %>
		</div>
		<div class="answer">	
			<p>For smaller repair jobs and updates where you only need a small amount of work done, we bill at an hourly rate of $60/hour with a 4 hour minimum per project</p>
			<p>Please submit the details of your custom project via email to code@ResponsiveRedesign.io with the subject line “Custom Project Quote Request".</p>
		</div><!-- .answer -->	

		<div class="question">
			How long have you been in business?&nbsp;&nbsp;<%= render 'layouts/drop_arrows' %>
		</div>
		<div class="answer">
			<p>We are young but fast growing 2 year old startup in the NYC design market. Most of our business growth has come from satisfied client referrals and word of mouth.</p>
			<p>Our clients appreciate that we are as entrepreneurial as they are - we understand your challenges and we make it a priority to get good work done cost efficiently.</p>
		</div>	

		<div class="question">
			What if my project does not fit into any standard product offerings of Responsive Redesign?&nbsp;&nbsp;<%= render 'layouts/drop_arrows' %>
		</div>
		<div class="answer">
			<p>Custom projects on a tight turnaround time are a common request from our clients...</p>

			<p>Since we believe that sticking to a sharp focus allows for us to hire the skill and specialization that we want for client projects, we have chosen to focus on the types of design listed on the order page.</p> 
			<p>However, like most designers and developers, we do love the excitement of custom projects.</p>

			<p>So, please submit the details of your custom project via email to code@ResponsiveRedesign.io with the subject line “Custom Project Quote Request". If your project sounds awesome, we'll be in touch.</p>
		</div>	

		<div class="question">
			What languages can you build websites in?&nbsp;&nbsp;<%= render 'layouts/drop_arrows' %>
		</div>
		<div class="answer">	
			<p>We can build in all client-side languages frameworks, including HTML5, CSS3, JavaScript, jQuery, SASS, Bootstrap, Foundation.</p>
			<p>We usually build contact forms and other small functional bits in PHP, but we are also able to build in Ruby / Ruby on Rails or Mode.js if needed.</p>
		</div><!-- .answer -->	

		<div class="question">
			Is Responsive Redesign able to help with content generation, SEO, or logo design?&nbsp;&nbsp;<%= render 'layouts/drop_arrows' %>
		</div>
		<div class="answer">
			<p>No.</p>

			<p>We do employ most SEO best practices within the website itself, but our primary goal is to keep your costs down and get you a great design fast.  To do so, we focus on the code.</p>

			<p>By not bundling content generation or other adjunct services into our offering, we are able to provide quicker turnaround times and keep your expenses down.</p>

		</div>

	</section>

	<div class="button-div text-right">
		<%= link_to "Order A Design", new_order_path, class: "btn btn-default" %>
	</div>
	<!-- todo  feedback area - let them add their new questions -->
</div><!-- end .container