<!-- provide custom subtitle for each page -->
<% content_for(:subtitle) do %>FAQ<% end %>

<div class="container">
	<h1 class="orange">Frequently Asked Questions</h1>

	<div class="button-div text-right">
		<%= link_to "Order A Design", new_order_path, class: "btn btn-default" %>
	</div>

	<section id="faq-section">
		<div class="question">
			
			Why don't I pay immediately when I order a design?&nbsp;&nbsp;<%= render 'layouts/drop_arrows' %>
		</div>
		<div class="answer">
			<p>TODO Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

		<div class="question">
			What is the working process typically like, from the client's perspective?&nbsp;&nbsp;<%= render 'layouts/drop_arrows' %>
		</div>
		<div class="answer">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>	

		<div class="question">
			How long does it really take to redesign a site?&nbsp;&nbsp;<%= render 'layouts/drop_arrows' %>
		</div>
		<div class="answer">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

		<div class="question">
			Do you provide other services, like SEO and logo design?&nbsp;&nbsp;<%= render 'layouts/drop_arrows' %>
		</div>
		<div class="answer">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>	

	</section>

	<div class="button-div text-right">
		<%= link_to "Order A Design", new_order_path, class: "btn btn-default" %>
	</div>
	<!-- todo  feedback area - let them add their new questions -->
</div><!-- end .container