<!-- provide custom subtitle for each page -->
<% content_for(:subtitle) do %>All About Responsive Redesign<% end %>


        <!-- todo unhide this section -->
        <div id="center-main-section">   
         <!-- todo I think the delays aren't installed yet js -->
            <!-- <h1 class="animated delay-05s fadeInRight" alt="Responsive Design">Responsive Redesign</h1> -->
            <!-- todo why isn't h2 fading? -->
           <!--  <h2 class="animated delay-07s fedeInRight">Your existing site design, <br>modernized,<br> and made mobile responsive in a week or less.</h2> -->
<!-- 
            <p class="text-center">
                <a href="#">Download the PDF</a>
            </p> -->

            <h3 class="animated delay-07s fadeInLeft">It's&nbsp;<%= Time.current.year %>.<br> Every website should be mobile responsive. And&nbsp;gorgeous.
            </h3>
            <br>

            <button class="btn btn-default btn-lg delaty-09s animated fadeIn"><%= link_to "Let's Do This", new_order_path %></button>

        </div><!-- end #center-main-section -->

        <!-- begin left side of the site -->
        <!-- below is for upeer left section -->
        <section id="why-responsive">
            <h2>Why is mobile responsive so important?</h2>

            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">

                  
                    <h3>Static Websites Damage Sales</h3>
                    <ul>
                        <li>Bounce rates in excess of 50%: most customers leave your site ASAP</li>
                        <li>Second most common reason for leaving a site, only behind slow loading</li>
                        <li>1 in 3 customers abandon a purchase due to the annoyance of a static site</li>
                        <li>69% of customers prefer to order online than over the phone </li>
                        <li>55% of all e-commerce interactions taking place on smartphones</li>
                        <li>42% of customers will post a poor review, vs just 24% over the phone [what does this one mean?]</li>
                        <li>[waste of time and money to have a separate site for each mobile, tablet, deskto.] [Number of different devices that represent different screen sizes]</li>
                    </ul>

                </div><!-- end .col -->
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <h3>Benefits Of Responsive Websites</h3>
                    <ul>
                        <li>Reduce your bounce rate to less than 20% (Forbes)</li>
                        <li>User feel like you are a modern company who is always ready for them, wherever device they’re on.  This means they feel they can trust your brand.</li>
                        <li>Customers can interact with you quickly, rather than put your site on a list to ‘deal with later’ when they’re at a desktop.</li>
                    </ul>
                </div><!-- end .col -->
            </div><!-- end .row -->
            <p class="orange text-center">Having a fully responsive website has never been more critical.</p>
        </section><!-- end #why-responsive -->

        <!-- begin upper right section -->
        <section id="your-options">
            <h2>Your options - How to update your site</h2>

            <ul>
                <div class="row">

                    <li class="col-md-4 col-sm-4 col-xs-12">
                        <div class="section-icon">
                            <%= image_tag('flaticons/repair-tools-cross.png') %>
                            <!-- Icon made by Freepik from www.flaticon.com  -->
                        </div>
                        <h3>Do it yourself</h3> 

                        <p>You can use a template engine.</p>

                        <p>They're great if you have time to edit, some money per feature (like custom domains and calendar booking system subscriptions).</p>

                        <p>You have to spend time taking down the template styles, figure out how your styles can fit in with that template's needs, and maybe learn something about HTML so you don't end up designing the footer to act like the main or breaking their JavaScript.</p>

                        <p>They also often hiden their back end code, which means you'll have to hire an expensive design agency ($5,000 minimums are common) to hack around the template's limitations.</p>

                    </li>

                    <li class="col-md-4 col-sm-4 col-xs-12">

                        <div class="section-icon">
                            <%= image_tag('flaticons/tent.png') %>
                            <!-- Icon made by Freepik from www.flaticon.com  -->
                        </div>                        

                        <h3>Hire a super cheap offshore design agency</h3>

                        <p>This is great if you want just text edited, or a couple of colors changed.</p>

                        <p>We wouldn't recommend this option if you want to get a good job done quickly.<p>

                        <p>Political correctness aside, <span class="orange">American standards are just different.</span></p>

                        <p class="orange unstyled-question">How do many offshore agencies get it just a bit wrong? <%= render 'layouts/drop_arrows' %></p>

                        <span class="unstyled-answer">
                            <p>What we've seen, and why we started this company:</p>
                            <ul>
                                <li>Offer an older design style, by using antiquated HTML tags, or by writing their styling inline instead of in a stylesheet (much harder to edit later), or by using tables to create columns instead of floating rows that truly respond to the width of your browser</li>
                                <li>Strange word use, like "telephony" instead of "Telephone", that makes its way into your site.</li>
                                <li>Development of sites that don't interact with the customer very much. No special touches, like the use of CSS animations to make the elements of your site slide in or out with scrolling. 
                            
                                <p><span class="orange">Tip:</span> It's movement makes a site modern, and we put this into every site we can.</li>
                            </ul>
                        </span>
                    </li><!-- end .col -->

                    <li class="col-md-4 col-sm-4 col-xs-12">
                        <div class="section-icon">
                            <%= image_tag('flaticons/money-bag.png') %>
                            <!-- Icon made by Gregor Cresnar from www.flaticon.com  -->
                        </div>

                        <h3>Hire an expensive, full-service agency that's been around for a while</h3>
                        <p>They'll get the job done and more.  For $8,000 - $20,000 USD at least. <br>
                        <p>They'll also do time-sucking things like make wireframes, design a new color pallete, redesign your logo, rebrand your social sites, conduct user focus groups, and do A/B testing with keyword research.</p>
                    </li>

            </div><!-- end .row -->

            <div class="row border-top">

                <li class="col-xs-12 text-center">Or...<br><%= link_to "Hire Responsive Redesign", new_order_path, class: "btn btn-default btn-lg" %>
                    <br><br>
                    <p>Your new, custom, mobile responsive site can be uploaded live to your custom domain, with your custom features, in a week or less. Cheap.</p>
                </li>

            </div><!-- end .row -->
            </ul>

        </section>
    
        <section id="why-us">
            <h2>What’s special about ResponsiveRedesign.io</h2>
            <ul class="row">
                <li class="col-md-4 col-sm-12 col-xs-12">
                    <h3>Manged by Entrepreneurs</h3>
                    <p>We understand your business' goals, and we know how to help you <i>become the brand your customers are looking for.</i><!-- .orange --></p>

                    <p>We have personal experience in:<br>
                        <span class="indent-left">Real Estate, Product Supply and Distribution, Theatrics and Performance, Design and Artistic Work, Scientific Research, Startup company culture and Entrepreneurship, Social good business models, and more.</span>
                    </p>
                      
                </li><!-- end li.col -->    
                <li class="col-md-4 col-sm-12 col-xs-12">
                    <h3>We demand qualty</h3>
                    <p>We are all in business to do good work. <br>
                        <i>Se let's only do good work.</i></p>

                </li><!-- end li.col -->
                <li class="col-md-4 col-sm-12 col-xs-12">
                    <h3>We work quickly</h3>
                    <p>We will quickly lower your bounce rate and help speed up your customer acquisition process.</p>
                    <p>Your site can be fully responsive, functional, and live in a week or less, often for a flat fee of $3,500, which is half the price of the market average.</p>
                </li>
            </ul><!-- end ul.row -->
        </section>
        <section>
            <h2>How we keep the prices down</h2>

            <p>Unless you ask us to, we don't do:
                <ul>
                    <li>drawn out sales pitches (to you)</li>
                    <li>wireframes</li>
                    <li>user focus groups</li>
                    <li>full brand redesign</li>
                    <li>exensive keyword research</li>
                    <li>A/B Testing</li>
                    <li>social media management</li>
                    <li>content generation</li>
                </ul>
            </p>
            <p class="text-center">It's fast.&nbsp;&nbsp;If you contact us on Monday, your new site can be uploaded by Friday.</p>
        </section>

        <section id="pricing">
            <h2>Our Pricing  (How We Compare)</h1>
                <ul class="row text-center">
                    <li class="col-md-4 col-sm-4 col-xs-12">
                        <p>comparsions</p>

                    </li>
                    <li class="col-md-4 col-md-4 col-xs-12">
                        <p>comparison 2</p>

                    </li>
                    <li class="col-md-4 col-col-md-6 col-xs-12">
                        <p>comparison 3</p>

                    </li>
                </ul>
            <div class="text-center">
                <%= link_to "Order A Project Now", new_order_path, class: "btn btn-default btn-lg white" %> 
            </div>
        </section><!-- end how we compare -->
       <!--  <section id="portfolio">
            <h2>Examples of Our Work</h2>
                <div class="row">
                    <div class="portfolio-item col-sm-4 col-xs-12">
                        <h3>Law Firm Company Site</h3>
                        <p>Before and after.</p>
                        <img class="img-responsive" src="">
                        <p class="site-details-preview"></p>
                        <div class="text-center">
                            <button class="btn btn-default text-center site-more-info">Project Details</button>                      
                        </div>
                    </div>                
                    <div class="portfolio-item col-sm-4 col-xs-12">
                        <h3>Custom Fitness Equipment</h3>
                        <p>Before and After (add before banner with 0.7 opacity to upper left of all before)</p>
                        <img class="img-responsive" src="">
                        <p class="site-details-preview"></p>  
                        <div class="text-center">
                            <button class="btn btn-default text-center site-more-info">Project Details</button>                      
                        </div>
                    </div>                
                    <div class="portfolio-item col-sm-4 col-xs-12">
                        <h3>Giles Marini - About the Actor</h3>
                        <p>Before and after.</p>
                        <img class="img-responsive" src="">
                        <p class="site-details-preview"></p>  
                        <div class="text-center">
                            <button class="btn btn-default text-center site-more-info">Project Details</button>                      
                        </div>                      
                    </div>
                </div>
        </section> --><!-- end examples section -->
        <section id="testimonials">
            <div class="testimonital-text">
                <h2>Customer Reviews &amp; Testimonials</h2>
                <blockquote>
                    <p>As a busy small business owner, creating a new website is a dramatic undertaking without professional help. I was recommended to Virgo Ventures (DBA Responsive Redesign) by a business associate and was not only pleased with the organization and planning of our personal contact, Alison but also the simplified way in which she explained what she was doing based on our wish list and IT needs.</p>
                    <p>Our transition from old site to new was practically seamless and we have already seen a huge boost in our website traffic as well as reduction in band width usage.</p> 
                    <p>At the end, we now have an amazing responsive website that functions as good as it looks. I would highly recommend Virgo Ventures for any website creation or update work.</p>
                    <small>Christopher Kelly, President / Owner <a href="http://www.gymstore.com/Default.asp", target: "none">Gym Store Inc.</a></small>
                    </p>
                </blockquote>
            </div><!-- each testimonial quote -->

        </section>



    <!-- testimonials or articles sections will follow -->


    <!-- Put your page content here! -->



