<!-- subtitle for this page specifically -->
<% content_for(:subtitle) do %>Portfolio<% end %>

<div class="container">
	<section id="portfolio-section">	
		<h2>Let's Get Started</h2>
		<div class="text-center">
			<p class="text-center gray">There are several ways to tackle a responsive redesign.<br>  If you'd like to skip past these details and order right away, or contact us directly, please...</p>
			<%= link_to "Contact Us Now", contact_us_path, class: "btn btn-default btn-lg" %>			
			<br><br>
		</div>
		<ol>
			<hr>
			<br>
			<h2>Examples of Our Work</h2>
			<li id="example-project-types">
				<h3>Literal Mobile Responsive Redesign</h3>
				<p>We edit your existing code to make it fit within mobile responsive viewports.</p>
				<p><strong>The outcome:</strong> Your existing site design now looks good on mobile devices too.</p>
				<p><strong>Rate:</strong> Flat rate, ranging between $2,000 USD and $4,000 USD. Most projects end up being a flat rate of $2,500 USD.</p>
				<p><strong>Timing:</strong> Typcially, 1 week of development.</p>
				<%= link_to "http://rr-cravath.responsiveredesign.io/", target: "none" do %>
				<p><strong>Example:</strong> Cravath - About the New York Law Firm</p>
					<!-- <div class="portfolio-image-section">
						<%= image_tag "portfolio/Cravath-after-devices-portfolio-collection.png", class: "portfolio-image-sizing" %>
					</div> -->
				<% end %><!-- end link to image -->
				<div class="text-center">
				    <%= link_to "Order A Literal Redesign", contact_us_path, class: "btn btn-default btn-lg" %>
				</div><!-- end .text-center with button -->
			</li>
			<li>
				<h3>Rapid Redesign</h3>
				<p>We build your new website from scrach, with a little help from our own customized code templates.</p>
				<p><strong>The outcome:</strong> You have a new, customized, mobile responsive simple website.</p>
				<p><i>Since we know the code so well, this can often happen with one week's development time.</i></p>
				<p><strong>Rate:</strong> Flat rate, ranging between $2,000 USD and $5,000 USD. Most projects end up being a flat rate of $3,000 USD.</p>
				<p><strong>Timing:</strong> Typcially, 1 week of development.</p>
				<%= link_to "http://rr-cybex.responsiveredesign.io/", target: "none" do %>
				<p><strong>Example:</strong> Cybex - A simple e-commerce front end website</p>

	<!-- 				<div class="portfolio-image-section">
						todo insert example links and images
					</div> -->
				<% end %><!-- end link to -->
				<div class="text-center">
				    <%= link_to "Order A Rapid Redesign", contact_us_path, class: "btn btn-default btn-lg" %>
				</div><!-- end .text-center with button -->
			</li>
			<li>
				<h3>Fully Custom Redesign</h3>
				<p>Your site gets fully redesigned from scratch, with fresh code.</p>
				<p><strong>The outcome:</strong> This is the best way to make sure your site offers a unique experience.</p>
				<p><strong>Rate:</strong> Flat rate, ranging between $3,000 USD and $5,000 USD. Most projects end up being a flat rate of $4,000 USD.</p>
				<p><strong>Timing:</strong> Typcially, 2 weeks of development.</p>
				<%= link_to "http://rr-gilles-marini.responsiveredesign.io/", target: "none" do %>			
				<p><strong>Example:</strong> Giles Marini - About the Television Actor</p>

		<!-- 			<div class="portfolio-image-section">
						todo insert example links and images
					</div> -->
				<% end %><!-- end link to site -->
				<div class="text-center">
				    <%= link_to "Order A Fully Custom Redesign", contact_us_path, class: "btn btn-default btn-lg" %>
				</div><!-- end .text-center with button -->			
			</li>
			<li>
				<h3>Template Engine Editing</h3>
				<p>If your site exists on a Shopify, Wix, Volusion, or WordPress platform, we go in directly and edit the code.</p>
				<p><strong>The up side:</strong> Your site has a content management system and much of the maintenance is outsourced to the hosting company. <br>
				<strong>The down side:</strong> Your site will retain much of the design it came with, rather than being fully customized to your brand.</p>
				<p><strong>Rate:</strong> $70/hour, 2 your minimum. Don't worry; we work fast.</p>
				<p><strong>Timing:</strong> Typcially, a 1-3 day turnaround upon request.</p>			
				<%= link_to "https://www.gymstore.com", target: "none" do %>
				<p><strong>Example:</strong> Gym Store - A full e-eommerce store</p>
	<!-- 				<div class="portfolio-image-section">
						<%= image_tag "portfolio/GymStore-devices-portfolio-collection.png", class: "portfolio-image-sizing" %>
					</div> -->
				<% end %><!-- end link to site -->
				<div class="text-center">
				    <%= link_to "Order A Template Engine Redesign", contact_us_path, class: "btn btn-default btn-lg" %>
				</div><!-- end .text-center with button -->			
			</li>
			<li>
				<h3>Fully Custom Web Application</h3>
				<p>Your site will be fully custom, with a customized front and and a functional back end.</p>
				<p><strong>The outcome:</strong> If you want to build a custom website with more than basic funcationality, this is the way to go.</p>
				<p><strong>Rate:</strong> Flat rate, ranging between $7,000 USD and $20,000 USD. Exact rate depends on the complexity of the project.</p>
				<p><strong>Timing:</strong> Typcially, 1 - 3 months of development time, depending on the scope of the project.</p>
				<%= link_to "http://www.consciousoffice.io/", target: "none" do %>			
				<p><strong>Example:</strong> Conscious Office - Custom ecommerce storefront</p>
	<!-- 				<div class="portfolio-image-section">
						<%= image_tag "portfolio/ConsciousOffice-devices-portfolio-collection.png", class: "portfolio-image-sizing" %>
					</div>
	 -->			<% end %><!-- end link to site -->
				<div class="text-center">
				    <%= link_to "Order A New Custom Web App", contact_us_path, class: "btn btn-default btn-lg" %>
				</div><!-- end .text-center with button -->			
			</li>
			<li>
				<h3>Consultation only</h3>
				<p>We review your existing site and create written design recommendations for your existing designer to implement.</p>
				<p><strong>The outcome:</strong> You have a plan ready to execute when you are ready, and you can give this to any competent designer of your preference.</p>
				<p><i>This is the cheapest and fastest option of all the above, since we don't actually write any code here.</i></p>
				<p><strong>Rate:</strong> $250/hour, 2 your minimum. 15-30 minute call with you, plus the write up.</p>
				<p><strong>Timing:</strong> Typically, between 2-4 hours.</p>
				<div class="text-center">
				    <%= link_to "Order A Written Consultation", contact_us_path, class: "btn btn-default btn-lg" %>
				</div><!-- end .text-center with button -->		
			</li>
		</ol>
	</section><!-- end #portfolio-section -->
</div><!-- end container -->

<!-- note: use https://placeit.net/stages/imac-macbook-pro-ipad-mini-and-iphone-mockup-over-a-png-background-a11876 to create these images with the website in devices  -->

