<!-- subtitle for this page specifically -->
<% content_for(:subtitle) do %>The Process<% end %>

<section>
    <h2 class="wow animated delay-11s fadeIn">How we keep the prices down</h2>

    <p>Unless you ask us to, we don't do:
        <ul>
            <li>drawn out sales pitches (to you)</li>
            <li>wireframes</li>
            <li>user focus groups</li>
            <li>full brand redesign</li>
            <li>exensive keyword research</li>
            <li>A/B Testing</li>
            <li>social media management</li>
            <li>content generation</li>
        </ul>
    </p>
    <p class="text-center">It's fast.&nbsp;&nbsp;If you contact us on Monday, your new site can be uploaded by Friday.</p>
</section>

<section id="your-options">
    <h2 class="wow animated delay-11s fadeIn">Let's Lay Out All Your Options</h2>
 
        <div class="row">

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="section-icon-div">
                    <%= image_tag('flaticons/repair-tools-cross.png', class: 'section-icon-size') %>
                    <!-- Icon made by Freepik from www.flaticon.com  -->
                </div>
                <h3>Do it yourself</h3> 
                <div class="paragraph-text">

                    <p>You can use a template engine.</p>

                    <p>They're great if you have time to edit, some money per feature (like custom domains and calendar booking system subscriptions).</p>

                    <p>You have to spend time taking down the template styles, figure out how your styles can fit in with that template's needs, and maybe learn something about HTML so you don't end up designing the footer to act like the main or breaking their JavaScript.</p>

                    <p>They also often hiden their back end code, which means you'll have to hire an expensive design agency ($5,000 minimums are common) to hack around the template's limitations.</p>
                </div>

            </div><!-- end col -->

            <div class="col-md-4 col-sm-4 col-xs-12">

                <div class="section-icon-div">
                    <%= image_tag('flaticons/tent.png', class: 'section-icon-size') %>
                    <!-- Icon made by Freepik from www.flaticon.com  -->
                </div>                        
                <h3>Hire a super cheap offshore design agency</h3>
                <div class="paragraph-text">   

                    <p>This is great if you want just text edited, or a couple of colors changed.</p>

                    <p>We wouldn't recommend this option if you want to get a good job done quickly.<p>

                    <p>Political correctness aside, <span class="orange">American standards are just different.</span></p>

                    <p class="orange unstyled-question">How do many offshore agencies get it just a bit wrong? <%= render 'layouts/drop_arrows' %></p>

                    <span class="unstyled-answer">
                        <p>What we've seen, and why we started this company:</p>
                        <ul>
                            <li>Offer an older design style, by using antiquated HTML tags, or by writing their styling inline instead of in a stylesheet (much harder to edit later), or by using tables to create columns instead of floating rows that truly respond to the width of your browser</li>
                            <li>Strange word use, like "telephony" instead of "Telephone", that makes its way into your site.</li>
                            <li>Development of sites that don't interact with the customer very much. No special touches, like the use of CSS animations to make the elements of your site slide in or out with scrolling. 
                        
                            <p><span class="orange">Tip:</span> It's movement makes a site modern, and we put this into every site we can.</li>
                        </ul>
                    </span>
                </div><!-- end .paragraph-text -->
            </div><!-- end .col -->

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="section-icon-div">
                    <%= image_tag('flaticons/money-bag.png', class: 'section-icon-size') %>
                    <!-- Icon made by Gregor Cresnar from www.flaticon.com  -->
                </div>
                <h3>Hire an expensive, full-service agency that's been around for a while</h3>
                <div class="paragraph-text">
                   
                    <p>They'll get the job done and more.  For $8,000 - $20,000 USD at least. <br>
                    <p>They'll also do time-sucking things like make wireframes, design a new color pallete, redesign your logo, rebrand your social sites, conduct user focus groups, and do A/B testing with keyword research.</p>
                </div><!-- end .paragraph-text -->
            </div><!-- end .col -->

    </div><!-- end .row -->

    <div class="row border-top">

        <div class="col-xs-12 text-center">Or...<br><%= link_to "Hire Responsive Redesign", new_order_path, class: "btn btn-default btn-lg" %>
            <br><br>
            <div class="paragraph-text">
                <p>Your new, custom, mobile responsive site can be uploaded live to your custom domain, with your custom features, in a week or less. Cheap.</p>
            </div>
        </div>

    </div><!-- end .row -->
    </div><!-- your options -->

</section>