<!-- this is the index page made during June 2018. This page talks more about us as a company rather than about responsive design in general. Consider using soem of the old content for educational materials.  Maybe we have a "Learn" page with a grid of articles, and content from there is one of the articles. 

BEGIN NOW -->

<div class="banner-image-area animated fadeIn delay-09s wow">
    <div id="index-banner-text-group">
        <h1 class="banner-text-1 animated fadeInDown delay-07s">Mobile&nbsp;Responsive,</h1>
        <h1 class="banner-text-2 animated fadeInDown delay-07s">Custom&nbsp;Websites</h1>
        <h3 class="text-center free-offer">Now offering a free 15 minute <br>consulting session about ANYTHING internet,<br> <small class="orange">(not just about how we can work together)</small>.</h3>
        <div class="text-center animated fadeInDown delay-07s" id="index-action-button">
            <%= link_to "Text Us Now", contact_us_path, class: "btn btn-lg btn-default" %>
        </div>
    </div><!-- index banner text group -->
    <div class="banner-image-area-overlay">
    </div>
</div><!-- end banner image area -->
<!-- coverr video layout could render here if we wanted to use it -->
<section class="text-left animated fadeInUp delay-09s">
    <div class="container">
        <h3 class="text-center orange animated fadeInUp delay-09s">The Code Book</h3>
        <div class="row animated fadeInUp delay-03s">
            <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
                <br>
                <div>
                    <p>When this company was first established, all we knew about the business was how to code.  We had no idea how to run a web design and developmenet company. 
                        <larger>
                            <i>
                                <br><br>How do we price things? 
                                <br>How should we find clients?
                                <br>What will they expect from us?
                                <br>
                            </i>
                        </larger>
                    </p>
                    <p>So we started asking other agencies how they run their businesses.</p>
                    <p>The result is an interview based e-book called <b>How To Serve: Code</b> that we expect to distribute within the year.</p>
                    <div class="text-center"><%= image_tag '' %></div>
                    <p>This book has given us a unique, investigative, increasingly informed view into the web services industry as a whole.</p>
                    <h4>What this means:</h4>
                    <ol>
                        <li>Our founder now advises other web services companies on best practices, industry trends, and how to grow a sustainable company.</li>
                        <li>Having seen many business strategies play out, we make informed choices about how to best serve you.</li>
                        <li>We have a ton of allies who can do pretty much anything that we cannot directly do ourselves.</li>
                    </ol>
                    <br>
                    <p class="text-center"><i>So...how can the industry help you?</i></p>
                </div>            
                <div class="text-center">
                    <%= link_to "Talk To Us", contact_us_path, class: "btn btn-default btn-lg" %>
                </div>            
            </div>
        </div><!-- end .row -->
    </div><!-- end container -->
</section><!-- end #center-main-section -->
<section class="background-alt-color text-left animated fadeInUp delay-09s">
    <div class="container">
        <div class="text-center animated fadeInUp delay-09s">
            <%= image_tag("flaticons/women-in-code-icon.png") %>
        </div>
        <h3 class="text-center orange animated fadeInUp delay-09s">Supporting Women in Tech</h3>
        <div class="row animated fadeInUp delay-03s">
            <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
                <br>
                <div>
                    <p>founder believes in inviting women to the table</p>
                </div>            
                <div class="text-center">
                    <%= link_to "Let's Work Together", contact_us_path, class: "btn btn-default btn-lg" %>
                </div>            
            </div>
        </div><!-- end .row -->        
    </div><!-- end container -->    
</section><!-- end #center-main-section -->
<section class="text-left animated fadeInUp delay-09s">
    <div class="container">
        <div class="text-center animated fadeInUp delay-09s">
            <%= image_tag("flaticons/checklist-flaticon-orange.png", class: "icon-image-sizing") %>
        </div>
        <h3 class="text-center orange animated fadeInUp delay-09s">Quality of Work</h3>
        <div class="row animated fadeInUp delay-03s">
            <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
                <br>
                <div>
                    <p>We have high standards for ourselves individually and professionally, and we maintain high standards for those that we collaborate with.</p>
                    <br>
                    <p class="text-right">If a potential partner doesn't speak English well, if they don't write up to date code, if their previous work is just ugly, we quickly say no to the collaboration.</p>
                    <br>
                    <p>In addition to passing our preliminary tests, every designer or developer we work with receives our custom made Quality Checklist, and we hold them to this standard during every project.</p>
                    <div class="text-center">
                        <%= link_to "See The Checklist", how_we_maintain_quality_path, class: "btn btn-default btn-lg" %>
                    </div>
                </div>                       
            </div><!-- end col -->
        </div><!-- end .row -->        
    </div><!-- end container -->
</section><!-- end #center-main-section -->
<section class="background-alt-color">
    <div class="container text-center animated fadeInUp delay-09s">
        <div class="text-center animated fadeInUp delay-09s">
            <%= image_tag("flaticons/flaticon-price-tag-smashicons.png") %>
        </div>        
        <h3>Pricing</h3>
        <p>Unlike other agencies, we post pricing for our basic services on this website, <br>for you to look at now!</p>
        <div class="text-center">
            <%= link_to "Pricing for a Redesign", pricing_path, class: "btn btn-lg btn-default" %>
        </div>
        <br>
    </div>
</section>
<section class="text-left animated fadeInUp delay-09s">
    <div class="container ">
        <div class="text-center animated fadeInUp delay-09s">
            <%= image_tag("flaticons/icon-customer-story.png", class: "icon-image-sizing") %>
        </div>
        <h3 class="text-center orange animated fadeInUp delay-09s">Our Mission</h3>
        <div class="row animated fadeInUp delay-03s">
            <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
                <br>
                <div class="mission-statement-text">
                    Help build a more beautiful and usable internet, <br>and have fun while doing it!
                </div>            
                <div class="text-center">
                    <%= link_to "Let's Work Together", contact_us_path, class: "btn btn-default btn-lg" %>
                </div>            
            </div>
        </div><!-- end .row -->
    </div><!-- end container -->
</section><!-- end #center-main-section -->



