<nav>
    <h1>
        <%= link_to root_path do %>
            <!-- displays on larger screen sizes -->
            <%= image_tag('rr-logo-white-long-left.png', class: "hidden-xs", id: 'nav-logo-single-row') %>
            <!-- displays on smaller screen sizes -->
            <%= image_tag('rr-logo-white.png', class: "hidden-sm hidden-md hidden-lg", id: 'nav-logo-double-row') %>
            <p class="hidden orange">ResponsiveRedesign.io</p>
        <% end %>
    </h1>
    <div id="xs_hamburger">
        <div id="hamburger_icon">
            <%= image_tag("list-menu.png") %>
        </div>
        <div id="menu_label">Menu</div>
    </div>
    <div id="nav_elements">
        <ul>
            <li alt="The Importance of Responsive Design"><%= link_to "About", root_path %></li>
            <!-- <li alt="The Importance of Responsive Design"><%= link_to "About You", root_path %></li>
            <li alt="Why Us"><%= link_to "About Us", why_us_path %></li>
            <li alt="Our Work Process"><%= link_to "The Process", the_process_path %></li> -->
            <li alt="Pricing"><%= link_to "Pricing", pricing_path %></li>
            <!-- put link to FAQ page here -->
            <li alt="Order A Design"><%= link_to 'Order', contact_us_path, class: "btn btn-sm btn-success" %></li>
        </ul>
    </div>
</nav>
