<nav>
    <h1>
        <%= link_to root_path do %>
            <!-- displays on larger screen sizes -->
            <%= image_tag('rr-logo-white-long-left.png', class: "hidden-xs", id: 'nav-logo-single-row') %>
            <!-- displays on smaller screen sizes -->
            <%= image_tag('rr-logo-white.png', class: "hidden-sm hidden-md hidden-lg", id: 'nav-logo-double-row') %>
            <p class="hidden orange">ResponsiveRedesign.io</p>
        <% end %>
    </h1>
    <div id="xs_hamburger">
        <div id="hamburger_icon">
            <%= image_tag("list-menu.png") %>
        </div>
        <div id="menu_label">Menu</div>
    </div>
    <div id="nav_elements">
        <ul>
            <li><%= link_to "About", root_path %></li>
            <li><%= link_to "Quality", learn_path %></li>
            <li><%= link_to "Compare", options_for_building_a_website_path %></li>
            <li><%= link_to "Pricing & Examples", portfolio_path %></li>
            <!-- input faq page? -->
            <li alt="Order A Design"><%= link_to 'Order', contact_us_path, class: "btn btn-sm btn-success" %></li>
        </ul>
    </div>
</nav>
