<!-- for code that we may want to use in the future -->

<section id="why-responsive">
    <div class="row">
        <div class="lighter-background-1 full-width-area">
            <h3>Static&nbsp;Websites Damage&nbsp;Sales</h3>
            <br>
            <div class="paragraph-fact">
                <p><span class="funky-font-styling">55%</span><br> 
                    of all e-commerce interactions <br>
                    take place on smartphones</p>
            </div><!-- end .paragraph-text -->
            <div class="paragraph-fact">
                <p><span class="funky-font-styling">69%</span><br> of customers prefer to order online <br>than over the phone </p>
            </div><!-- end .paragraph-text -->
            <div class="paragraph-fact">                
                <p><span class="funky-font-styling">50%</span><br> of customers
                    actually leave a site <br>
                    when they see it's<br> 
                not mobile responsive</p>
            </div><!-- end .paragraph-text -->
            <div class="paragraph-fact">
                <p><span class="funky-font-styling">1&nbsp;/&nbsp;3</span><br> 
                    of customers
                    abandon a purchase <br>
                    due to the annoyance <br>
                    of static sites</p>
            </div><!-- end .paragraph-text -->
        </div>
        <div class="lighter-background-2 full-width-area">
            <h3>Benefits&nbsp;Of Responsive&nbsp;Websites</h3>
            <br>
            <span class="near-white">
                <div class="paragraph-fact lean-left">
                    <p>Reduce your <br>
                        <span class="funky-font-styling-2">bounce rate</span> <br>
                        to less than 20%</p>
                </div><!-- end .paragraph-text -->
                <div class="paragraph-fact lean-right">
                    <p>Customers see you <br>
                        as a <span class="funky-font-styling-2">modern</span> company.</p>
                </div><!-- end .paragraph-text -->
                <div class="paragraph-fact lean-left">                
                    <p>Customers can interact <br>
                        with you <span class="funky-font-styling-2">impulsively</span>, <br>
                        wherever they are.</p>
                </div><!-- end .paragraph-circle -->
            </span><!-- end span.near-white -->
        </div><!-- end .col -->
    </div><!-- end .row -->
</section><!-- end #why-responsive -->
<!-- -->

<li>
    <h3>Rapid Redesign</h3>
    <p>We build your new website from scrach, with a little help from our own customized code templates.</p>
    <p><strong>The outcome:</strong> You have a new, customized, mobile responsive simple website.</p>
    <p><i>Since we know the code so well, this can often happen with one week's development time.</i></p>
    <p><%= image_tag("flaticons/flaticon-price-tag-smashicons.png", class: "flaticon-tiny-labels") %>
        <strong>Rate:</strong> Flat rate, base price often ranges from between $2,000 USD to $5,000 USD.</p>
    <p><%= image_tag("flaticons/flaticon-alarm-clock-smashicons.png", class: "flaticon-tiny-labels") %>
        <!-- icon made by Smashicons, found on flaticons.com -->
        <strong>Timing:</strong> Typcially, 1 week of development.</p>
    <%= link_to "http://rr-cybex.responsiveredesign.io/", target: "none" do %>
        <p><%= image_tag("flaticons/flaticon-all3responsive-Becris.png", class: "flaticon-tiny-labels") %>
            <!-- icon by Becris and found on flaticon.com -->
            <strong>Example:</strong> Cybex - A simple e-commerce front end website</p>

<!--                <div class="portfolio-image-section">
            todo insert example links and images
        </div> -->
    <% end %><!-- end link to -->
    <div class="text-center">
        <%= link_to "Order A Rapid Redesign", contact_us_path, class: "btn btn-default btn-lg" %>
    </div><!-- end .text-center with button -->
</li>

<!-- not used area follows from here -->
<div class="banner-area hidden"> 
    <div class="opaque-overlay">
        <div class="inner-container">
            <div class="hotwords-container">
                <p>Mobile Friendly | 
                Rapid&nbsp;Development | 
                High&nbsp;Quality | 
                Modern&nbsp;Code |
                Affordable
                <h2 class="banner-text">Mobile&nbsp;Responsive, Custom&nbsp;Websites</h2>
                <h2 class="banner-text orange hidden">Built&nbsp;By&nbsp;Web&nbsp;Designers You&nbsp;Can&nbsp;Trust</h2>
                Integrity | 
                Modern&nbsp;Web&nbsp;Design | 
                Design&nbsp;In&nbsp;A&nbsp;Week | 
                Your&nbsp;Brand | 
                Custom&nbsp;Design |  
                Raw&nbsp;Code | 
                Make&nbsp;It&nbsp;Yours
                </p>
            </div>        
            <span class="hidden-lg hidden-md hidden-sm"><br></span>
        </div><!-- end .inner-container so that we can have padding on the rest of it -->
    </div>
    <!-- end .opaque-overlay -->
</div><!-- end .banner-area -->
<!-- end unused banner area -->