<!DOCTYPE html>
<html class="full" lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">	
    <title>Responsive Redesign</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- bootstrap cdn, since bootstrap gem isn't doing anything. (Temporary fix.) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- fontawesome cdn for social media icons -->
    <script src="https://use.fontawesome.com/9aee4020bc.js"></script>

</head>
<body>

	<%= render 'layouts/nav' %>
	<%= render 'layouts/newsletter_modal_text' %>
    <%= render 'layouts/contact_us_modal_text' %>
	<main>
		<%= yield %>
	</main>
	<%= render 'layouts/footer' %>

</body>
</html>
